[Unit]
Description=RPi Calendar Flask Backend
After=network.target pocketbase.service

[Service]
User=pi
WorkingDirectory=/home/pi/rpi-calendar/backend
ExecStart=/home/pi/.local/bin/uv run gunicorn -w 2 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:5000 app:app
Restart=always
RestartSec=5
EnvironmentFile=/home/pi/rpi-calendar/backend/.env

[Install]
WantedBy=multi-user.target
